<% provide(:title, 'Sign up') %>
<h1 class="text-center">Sign up</h1>
<div class="row">
  <div class="small-offset-3 small-6 columns">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>

      <%= f.submit "Create my account", class: "button expand radius" %>
    <% end %>

    <p>Already have an account? <%= link_to "Log in", signin_path %></p>
  </div>
</div>